PORT=3000
DATABASE_URL=postgres://routevpn:routevpn@postgres:5432/routevpn?sslmode=disable
VALKEY_URL=valkey:6379
JWT_SECRET=JHGDUFHGISDUHFGKDSUHVBGSFDUHGBVOUHSGFBSDKUH
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=admin@123456789
WG_INTERFACE=awg0
WG_ENDPOINT=vpn.example.com:51820
WG_LISTEN_PORT=51820
WG_DNS=1.1.1.1, 8.8.8.8
WG_SUBNET=10.66.66.0/24
AWG_JC=4
AWG_JMIN=40
AWG_JMAX=70
AWG_S1=0
AWG_S2=0
AWG_H1=1
AWG_H2=2
AWG_H3=3
AWG_H4=4
SERVER_PRIVATE_KEY=CHgx57o229svVbYE0a4tqE0rSjTlKesS1wSw5o/n9WI=
SERVER_PUBLIC_KEY=TmWRFn8OGDMV/lppAVLfzufhQY3+G06Y5JH2G2e1XxQ=
WG_DRY_RUN=true
